*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.card-font{
    font-family: 'Duru Sans', sans-serif;
    font-weight: bolder;
   
}

.card-effect{
    
}

body{
    background: rgb(255, 255, 255);
}

@media only screen and (max-width: 1300px){


    .body{
        width: 100%;
        height: 150rem;
    }
    .wrapper{
        background: rgb(100,17,173);
        background: linear-gradient(90deg, rgba(100,17,173,1) 17%, rgba(16,0,43,1) 98%); 
        width: 100%;
        height: 74rem;
      
        /* change min height to actual value */
    }


    .sticky-download{
        width: 75px;
        height: 75px;
        display: flex;
        position: -webkit-sticky;
        background-repeat: no-repeat;
        background: #008000 no-repeat;
        position: sticky;
        bottom: 20px;
        margin-right: 20px;
        left: 20px;
        border: 3px solid black;
        border-radius: 50%;
        justify-items: center;
        align-items: center;
        cursor: pointer;
        animation: stickie .1s forwards ease-in;
    }

    .sticky-download:active{
        background: #00aa00;
        outline: none;
    }

    .sticky-download:focus{
        outline: none;
    }

    .sticky-download span{
        background: url('./assets/download.png') no-repeat;
        width: 50%;
        height: 50%;
        margin-left: 16px;
        background-size: 100%;
        object-fit: cover;
    }

    @keyframes stickie {
        from{
            opacity: 0;
        }

        to{
            opacity: 1
        }
    }
    .qr-wrapper{
        display: flex;
        width: 95%;
        height: 95vh;
      
        max-height: 69rem;
        min-height: 69rem;
        position: relative;
        background: linear-gradient(90deg, #7109b79c 17%, rgba(16,0,43,1) 98%); 
        
        border-radius: 10px;
        left: 0.7rem;
        top: 0.5rem;
        flex-direction: column-reverse;
       
    }
    .display-wrapper{
        width: 100%;
        height: 100%;
        min-height: 20rem;
        max-height: 20rem;
       
    }

    .display{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .qr-box{
      width: 19rem;
      height: 19rem;
      align-self: center;
      display: flex;
      justify-content: center;
      border-radius: 20px;
    }

    .qr-box img{
        width: 100%;
        height: 100%;
        align-self: center;
        border-radius: inherit;
        
    }

        /* Model */

    .model{
        width: 100%;
        height: 100%;
      
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 7rem 7rem 34rem auto; 
        max-height: fit-content;
    }

   

    .card-info{
        border-radius: 10px;
        width: 95%;
        align-self: center;
        justify-self: center;
        border: 3px solid white;
        color: white;
        font-family: sans-serif;
    }

    .card-info legend{
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
   
    .info-text{
        padding: 10px;
        font-family: sans-serif;
    }
    .option-boxes{
      width: 100%;
      height: 50px;

      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 100%;
      align-self: center;
    }
    
    .options-st{
        width: 100%;
        height: 100%;
     
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: White;
       
        font-family: sans-serif;
    }

  

    .message{
         margin: 0 auto;
         width: 100%;
         height: 100%;
         
    }

    .form-wrapper{
        width: 95%;
        height: 100%;
        max-height: inherit;
       
        
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        align-items: start;
    }

    .vcard-component{
       width: 100%;
       height: inherit;
     
       display: grid;
       grid-template-columns: 100% ;
       grid-template-rows: 3rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;   
    }
    .mb-full-column{
            display: flex;
            flex-direction: column;
            width: 100%;
            
            /* height: fit-content;    */
         
     }
    .vcard-component .input-form{
        height: 100%;
        min-height: 3rem;
        width: 100%;
        border-radius: 5px;
        border: 2px solid #d8bbff ;
        outline: none;
        background: white;
        text-indent: 0.2rem
     }
     .input-form :active{
         outline: none;
     }

   .vcard-component .full-column input[type="submit"]{
        width: 100%;
        height: 100%;
        background: #38b000;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 0.5rem;
        }
     

   .vcard-component .full-column{
       width: 100%;
       height: 100%;
      
    }

    .generate-button{
        width: 100%;    
    }
   
  
    .message-component{
        width: 100%;
        height: 100%;
        max-width: inherit;
        border: 3px solid white;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }


    .message-component .full-column{
        width: 100%;
        height: 100%;
        
        display: flex;
       align-items: center;
       justify-content: center;
    }

    .message-component input[type="text"]{
        width: 85%;
        border: none;
        height: 20%;
        border-radius: 5px;
        border: 2px solid #d8bbff ;
        outline: none;
        background: white;
        text-indent: 0.2rem;
    }

    .message-component .generate-button{
        width: 85%;
        height: 20%;
        background: #38b000;
        color: white;
        border: none;
        border-radius: 5px;
    }



    .email-component{
        width: 100%;
        height: 100%;
        border: 3px solid white;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .email-component .full-column{
        height: 100%;
        width: 100%;
    }

    .email-component .input-form{
        width: 85%;
        border: none;
        height: 20%;
        border-radius: 5px;
        align-self: center;
        border-radius: 5px;
        border: 2px solid #d8bbff ;
        outline: none;
        background: white;
        text-indent: 0.2rem;
    }
    .mb-email-full-column{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
   
    .email-component form > :nth-child(2){
        display: flex;
        justify-content: center;
    }
   
    .email-component .generate-button{
        width: 85%;
        height: 20%;
        align-self: center;
        background: #38b000;
        color: white;
        border: none;
        border-radius: 5px;        
    }
    /* SMS */

.sms-component{
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-radius: 5px;
    
    
}
  
   .sms-component form {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .sms-component  form > :nth-child(1){
        
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 95%;
            height: 100%;
            justify-self: center;
        }

        .sms-component  form > :nth-child(1) input{
            width: 100%;
            height: 20%;
            max-width: 85%;
            border-radius: 5px;
            border: 2px solid #d8bbff ;
            outline: none;
            background: white;
            text-indent: 0.2rem;
        }

        .sms-component  form .full-column > textarea{
            width: 100%;
            height: 20%;
            max-width: 85%;
            border-radius: 5px;
            border: 2px solid #d8bbff ;
            outline: none;
            background: white;
            text-indent: 0.2rem;
            font-family: sans-serif;
            min-height: 20%;
            min-width: 85%;
        }

        .sms-component form > :nth-child(2){
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        }

        .sms-component  form .full-column > input[type="submit"] {
            width: 85%;
            height: 20%;
            align-self: center;
            background: #38b000;
            color: white;
            border: none;
            border-radius: 5px;

        }


    .download-button{
        display: none;
    }

    .download-align{
        display: none;
    }

    .button-column{
    
    }

    .width-button{
       
    }
    /* inside react <Options/> */
    .card-effect{
        
    } 
    .card-font{
        
    }

    .user-options{
        display: none;
    }
}

@media only screen and (max-width: 514px){
    .message span {
        width: 100%;
        margin: 0 auto;
        margin-left: 15px;
     }

}