*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.card-font{
    font-family: 'Duru Sans', sans-serif;
    font-weight: bolder;
   
}

.card-effect{
    
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  


.wrapper{
    background: rgb(100,17,173);
    background: linear-gradient(90deg, rgba(100,17,173,1) 17%, rgba(16,0,43,1) 98%); 
    width: 100%;
    min-width: 100%;
    height: 90vh;
    height: 50rem;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}


.qr-wrapper{
   width: 100%;
   max-width: 90%;
   max-height: 95%;
   max-width: 95%;
   height: 100%;
   background: linear-gradient(90deg, #7109b79c 17%, rgba(16,0,43,1) 98%); 
   border-radius: 10px;
   border: 3px solid white;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 100%;
   justify-items: center;
}

.model{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 70%;
    width: 95%;
    height: 100%;
    padding: 10px;
    border-radius: 1rem;
   
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 70%;    
}

.option-boxes{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 30% 20% 20%;
  grid-template-rows: 100%;
  justify-content: space-evenly;
  align-items: center;
  
}

.options-st{
    width: 100%;
    height: 60%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-bottom: 3px solid rgba(0, 0, 0, 0.479);
}
.hover{
    transition:  0.2s ease-in;
}

.set-selected-option{
    border-radius: 10px;
    color: black;
    background: white;
}

.hover:hover{
    
    border-radius: 10px;
    color: black;
    background: rgb(165, 165, 165);
}

.card-info{
    width: 95%;
    align-self: center;
    border-radius: 10px;
    border: 3px solid white;
    max-height: 6rem;
    font-family: sans-serif;
    color: white;
    cursor: default;
    justify-self: center;
}

.card-info legend{
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.info-text{
   padding: 10px;
}

.form-wrapper{
    
    justify-self: center;
    width: 95%;
}


.vcard-component{
 display: grid;
 grid-template-columns: 100%;
 grid-template-rows: repeat(7, 12%);
 width: 100%;
 height: 100%;

 
}

.message-component{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.email-component{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
}



.display{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
   
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}



.display-wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.qr-box{
    width: 100%;
    height: 100%;
    max-width: 85%;
    height: 100%;
    max-height: 100%;
    max-height: 20rem;
    background: yellow;
    border: 0.3rem solid #d8bbff;
    border-radius: 1rem;
    align-self: center;
    justify-self: center;
    display: flex;
    align-content: center;
    justify-content: center;
    background: white;
    margin-top: 1rem; /*Change this to 0px in media query*/
}

.qr-box img{
   max-width: 20rem;
   max-height: 20rem;
  justify-self: center;
   
}


.user-options{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}


.user-options > :nth-child(1){
   max-width: 30rem;
}
.user-options > :nth-child(2){
    height: 100%;
    max-height: 3rem;
    width: 100%;
    max-width: 30rem;
    align-self: center;
}
.message{
     
     
}







/* Added these css selectors in a media query because it'll conflict with phone responsiveness */
@media only screen and (min-width: 1045px){
    .column-wrapper{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        justify-content: space-evenly;
    }
    .input-form{
        width: 100%;
        max-height: 2.5rem;
        min-height: 2.5rem;
        max-width: 90%;
        min-width: 90%;
        align-self: center;
        justify-self: center;
        border: none;
        border-radius: 5pt;
        text-indent: 1rem;
        background: #dabfff;
        outline: none;
    }

    .full-column .input-form{
        width: 100%;
        max-width: 95%;
    }

   .vcard-component .full-column{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }


    .email-component .full-column{
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .message-component .full-column{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
   
    .button-column{
        width: 100%;
        height: 100%;
        max-height: 2.5rem;
        min-height: 2.5rem;
        max-width: 95%;
        border: none;
        border-radius: 5pt;
        align-self: center;
        justify-self: center;
        color: white;
        background: green;
    }
    .button-column:hover{
        background: rgb(1, 170, 1);
    }


    .sms-component{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 50%);
    }

    .sms-component .full-column{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .scaledown{
        animation: scaledown 0.2s ease-in forwards;
    
    }
    
    .scaleup{
        animation: scaleup 0.2s ease-in forwards;
    }
    
    @keyframes scaledown {
        0%{
            transform: scale(0.9);
        }
        40%{
            transform: scale(0.4);
        }
        70%{
            transform: scale(0.6);
        }
        100%{
            transform: scale(0.55);
        }
    }
    
    @keyframes scaleup {
        0%{
            transform: scale(0.5);
        }
     
        70%{
            transform: scale(1);
        }
        100%{
            transform: scale(0.9);
        }
    }
    
}

@media only screen and (max-width: 1044px){


    .body{
        width: 100%;
        height: 150rem;
    }
    .wrapper{
        background: rgb(100,17,173);
        background: linear-gradient(90deg, rgba(100,17,173,1) 17%, rgba(16,0,43,1) 98%); 
        width: 100%;
        height: 74rem;
        margin-top: 0px;
        display: block;
        /* change min height to actual value */
    }

.display {
    width: 90%;
    height: 100%;
    justify-self: center;

    border: 0.3rem solid #d8bbff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

    .sticky-download{
        width: 75px;
        height: 75px;
        display: flex;
        position: -webkit-sticky;
        background-repeat: no-repeat;
        background: #008000 no-repeat;
        position: sticky;
        bottom: 20px;
        margin-right: 20px;
        left: 20px;
        border: 3px solid black;
        border-radius: 50%;
        justify-items: center;
        align-items: center;
        cursor: pointer;
        animation: stickie .1s forwards ease-in;
    }

    .sticky-download:active{
        background: #00aa00;
        outline: none;
    }

    .sticky-download:focus{
        outline: none;
    }

    .sticky-download span{
        background: url('./assets/download.png') no-repeat;
        width: 50%;
        height: 50%;
        margin-left: 16px;
        background-size: 100%;
        object-fit: cover;
    }

    @keyframes stickie {
        from{
            opacity: 0;
        }

        to{
            opacity: 1
        }
    }
    .qr-wrapper{
        display: flex;
        width: 95%;
        height: 95vh;
        max-height: 69rem;
        min-height: 69rem;
        position: relative;
        background: linear-gradient(90deg, #7109b79c 17%, rgba(16,0,43,1) 98%); 
        border-radius: 10px;
        left: 0.7rem;
        top: 0.5rem;
        flex-direction: column-reverse;
        border: none;
       
    }
    .display-wrapper{
        width: 100%;
        height: 100%;
        min-height: 20rem;
        max-height: 20rem;
        display: block;
       
    }

    .display{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        border: none;
        background: none;
       
    }

    .qr-box{
      width: 19rem;
      height: 19rem;
      align-self: center;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      margin-top: 0rem;
    }

    .qr-box img{
        width: 100%;
        height: 100%;
        align-self: center;
        border-radius: inherit;
        display: block;
    }

        /* Model */

    .model{
        width: 100%;
        height: 100%;
        padding: 0px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 7rem 7rem 34rem auto; 
        max-height: fit-content;
        background: none;
    }

   

    .card-info{
        border-radius: 10px;
        width: 95%;
        align-self: center;
        justify-self: center;
        border: 3px solid white;
        color: white;
        font-family: sans-serif;
    }

    .card-info legend{
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
   
    .info-text{
        padding: 10px;
        font-family: sans-serif;
    }
    .option-boxes{
      width: 100%;
      height: 50px;
      display: grid;
      grid-template-columns: 20% 20% 20% 20%;
      grid-template-rows: 100%;
      align-self: center;
      justify-self: center; 
      justify-content: space-evenly;
    }
    
    .options-st{
        width: 100%;
        height: 100%;
        display: flex;
        
        cursor: pointer;
        
        
        font-family: sans-serif;
    }

  

    .message{
         margin: 0 auto;
         width: 100%;
         height: 100%;
         
    }

    .form-wrapper{
        width: 95%;
        height: 100%;
        max-height: inherit;
       
        
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        align-items: start;
    }

    .vcard-component{
       width: 100%;
       height: inherit;
     
       display: grid;
       grid-template-columns: 100% ;
       grid-template-rows: 3rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;   
    }
    .mb-full-column{
            display: flex;
            flex-direction: column;
            width: 100%;
            
            /* height: fit-content;    */
         
     }
     .vcard-component .column-wrapper{
        max-height: inherit;
        min-height: inherit;
         width: 100%;
        
     }
     
    .vcard-component .input-form{
        height: 100%;
        min-height: 3rem;
        width: 100%;
        border-radius: 5px;
        border: 2px solid #d8bbff ;
        outline: none;
        background: white;
        text-indent: 0.2rem
     }
     .input-form :active{
         outline: none;
     }

   .vcard-component .full-column input[type="submit"]{
        width: 100%;
        height: 100%;
        background: #38b000;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 0.5rem;
        }
     
.user-options{
    display: none;
}
   .vcard-component .full-column{
       width: 100%;
       height: 100%;
      
    }

    .generate-button{
        width: 100%;    
    }
   
  
    .message-component{
        width: 100%;
        height: 100%;
        max-width: inherit;
        border: 3px solid white;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }


    .message-component .full-column{
        width: 100%;
        height: 100%;
        
        display: flex;
       align-items: center;
       justify-content: center;
    }

    .message-component input[type="text"]{
        width: 85%;
        border: none;
        height: 20%;
        border-radius: 5px;
        border: 2px solid #d8bbff ;
        outline: none;
        background: white;
        text-indent: 0.2rem;
    }

    .message-component .generate-button{
        width: 85%;
        height: 20%;
        background: #38b000;
        color: white;
        border: none;
        border-radius: 5px;
    }



    .email-component{
        width: 100%;
        height: 100%;
        border: 3px solid white;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .email-component .full-column{
        height: 100%;
        width: 100%;
    }

    .email-component .input-form{
        width: 85%;
        border: none;
        height: 20%;
        border-radius: 5px;
        align-self: center;
        border-radius: 5px;
        border: 2px solid #d8bbff ;
        outline: none;
        background: white;
        text-indent: 0.2rem;
    }
    .mb-email-full-column{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
   
    .email-component form > :nth-child(2){
        display: flex;
        justify-content: center;
    }
   
    .email-component .generate-button{
        width: 85%;
        height: 20%;
        align-self: center;
        background: #38b000;
        color: white;
        border: none;
        border-radius: 5px;        
    }
    /* SMS */

.sms-component{
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-radius: 5px;
    
    
}
  
   .sms-component form {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .sms-component  form > :nth-child(1){
        
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 95%;
            height: 100%;
            justify-self: center;
        }

        .sms-component  form > :nth-child(1) input{
            width: 100%;
            height: 20%;
            max-width: 85%;
            border-radius: 5px;
            border: 2px solid #d8bbff ;
            outline: none;
            background: white;
            text-indent: 0.2rem;
        }

        .sms-component  form .full-column > textarea{
            width: 100%;
            height: 20%;
            max-width: 85%;
            border-radius: 5px;
            border: 2px solid #d8bbff ;
            outline: none;
            background: white;
            text-indent: 0.2rem;
            font-family: sans-serif;
            min-height: 20%;
            min-width: 85%;
        }

        .sms-component form > :nth-child(2){
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        }

        .sms-component  form .full-column > input[type="submit"] {
            width: 85%;
            height: 20%;
            align-self: center;
            background: #38b000;
            color: white;
            border: none;
            border-radius: 5px;

        }


    .download-button{
        display: none;
    }

.info-text{
    padding: 0.5rem;
    font-family: sans-serif;
    
}
}